extends layout

block content
  include template/hero
  include template/navbar
  #fh5co-feature-product.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section
          h3 Our History
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row.row-bottom-padded-md
        .col-md-12.text-center.animate-box
          p
            img.img-responsive.img-rounded(src='images/cover_bg_1.jpg', alt='Free HTML5 Bootstrap Template')
      .row
        .col-md-4
          .feature-text
            h3 Angular JS
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4
          .feature-text
            h3 Node JS          
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4
          .feature-text
            h3 Django Python
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  .fh5co-content-section.fh5co-section-gray
    .container
      .row.row-bottom-padded-md
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 Our Team
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
    .container
      .row
        .col-md-6
          .fh5co-team.text-center.animate-box
            figure
              img(src='images/person_1.jpg', alt='user')
            p
              | Jean Doe, XYZ Co. 
              br 
              span.text-mute Designer
            blockquote
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-6
          .fh5co-team.text-center.animate-box
            figure
              img(src='images/person_2.jpg', alt='user')
            p
              | Jean Doe, XYZ Co. 
              br
              |  
              span.text-mute Developer
            blockquote
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  // fh5co-content-section
// END fh5co-page
// END fh5co-wrapper
