extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    include template/hero
    include template/navbar
    #fh5co-feature-product.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section
            h3 Our History
            p
              | Big things start small - so did our business. We started catering our family and friends in small events and gatherings. Our passion in cooking, baking and bringing life to food stood out. We have been recommended to the friends of our friends and began to grow - becoming a world class catering services.
        .row.row-bottom-padded-md
          .col-md-12.text-center.animate-box
            p
              img.img-responsive.img-rounded.about(src='images/aboutus1.jpg')
        .row
          .col-md-4
            .feature-text
              h3 Competence
              p
                | Empire never settles for what is okay. We always go extra mile.
          .col-md-4
            .feature-text
              h3 Passion       
              p
                | Empire has always been dedicated in what we do - giving the best food to the best people.
          .col-md-4
            .feature-text
              h3 Pride
              p
                | Empire never puts our reputation on the line. We make sure that at the end of the day, out customers are always satisfied.
    .fh5co-content-section
      .container
        .row.row-bottom-padded-md
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Our Head
            p
              | They have been culinary partners since college and began their journey towards their passion since 2004.
      .container
        .row
          .col-md-6
            .fh5co-team.text-center.animate-box
              figure
                img(src='images/person_1.jpg', alt='user')
              p
                | Mark Paulo Cube, PUP Culinary Academy
                br 
                span.text-mute Head Chef
              blockquote
                p
                  | I've always dreamt of creating extraordinary food and let the world see and taste the art in it.
          .col-md-6
            .fh5co-team.text-center.animate-box
              figure
                img(src='images/person_2.jpg', alt='user')
              p
                | Martin John Lopez, PUP Culinary Academy
                br
                |  
                span.text-mute Master Chef
              blockquote
                p
                  | My heart has always been into bringing food in an extremely high level - where no man has ever put them. 