extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    include template/hero
    include template/navbar
    #fh5co-contact.fh5co-section-gray
      .container
          .row.animate-box
            .col-md-6
              h3.section-title Our Address
              p
                | Send us a message and we will respond shortly. You can also call us in the number provided below.
              ul.contact-info
                li
                  i.icon-location-pin
                  | Anonas, Sta. Mesa, Maynila, NCR, Phils.
                li
                  i.icon-phone2
                  | + 1000 1111
                li
                  i.icon-mail
                  | mnmtestmail@gmail.com
                li
                  i.icon-globe2
                  a(href='#') http://coen3463-m2t20.herokuapp.com/
            .col-md-6
              .row
                form(action='/contact', method='post')
                  .col-md-6
                    .form-group
                      input.form-control(name='name', value='', type='text', placeholder='Name', required)
                  .col-md-6
                    .form-group
                      input.form-control(name='email' value='', type='text', placeholder='Email', required)
                  .col-md-12
                    .form-group
                      textarea.form-control(name='message', id='', cols='30', rows='7', placeholder='Message')
                  .col-md-12
                    .form-group
                      input.btn.btn-primary(name='submit' type='submit', value='Send Message' onlick='myFunction')