extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    include template/hero
    include template/navbar
    #fh5co-portfolio.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Our Gallery
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
        .row.row-bottom-padded-md
          .col-md-12
            ul#fh5co-portfolio-list
              li.two-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-1.jpg); ')
                a.color-3(href='#')
                  .case-studies-summary
                    span Creative
                    h2 Wak in the wooden street
              li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-1.jpg); ')
                a.color-4(href='#')
                  .case-studies-summary
                    span Design
                    h2 Present your product
              li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-1.jpg); ')
                a.color-5(href='#')
                  .case-studies-summary
                    span Photo
                    h2 See the horizon
              li.two-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-1.jpg); ')
                a.color-6(href='#')
                  .case-studies-summary
                    span Love
                    h2 Spend time with your partner
    include services-info