extends layout

block content
    include template/hero
    include template/navbar
    #fh5co-portfolio.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Our Gallery
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
        .row.row-bottom-padded-md
          .col-md-12
            ul#fh5co-portfolio-list
              li.two-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-image-1.jpg); ')
                a.color-3(href='#')
                  .case-studies-summary
                    span Creative
                    h2 Wak in the wooden street
              li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-image-1.jpg); ')
                a.color-4(href='#')
                  .case-studies-summary
                    span Design
                    h2 Present your product
              li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-image-1.jpg); ')
                a.color-5(href='#')
                  .case-studies-summary
                    span Photo
                    h2 See the horizon
              li.two-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/hero-image-1.jpg); ')
                a.color-6(href='#')
                  .case-studies-summary
                    span Love
                    h2 Spend time with your partner
    .fh5co-content-section
      .container
        .row.row-bottom-padded-md
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Our Team
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
      .container
        .row
          .col-md-6
            .fh5co-team.text-center.animate-box
              figure
                img(src='images/person_1.jpg', alt='user')
              p
                | Jean Doe, XYZ Co. 
                br
                span.text-mute Designer
              blockquote
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .col-md-6
            .fh5co-team.text-center.animate-box
              figure
                img(src='images/person_2.jpg', alt='user')
              p
                | Jean Doe, XYZ Co. 
                br 
                span.text-mute Developer
              blockquote
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    include services-info