extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    include template/hero
    include template/navbar
    #fh5co-portfolio.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Our Gallery
            p
              | Empire serves world class variety of food prepared and cooked by the best chefs in the country.
          .col-md-12
            ul#fh5co-portfolio-list
              li.two-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/gallery1.jpg); ')
                a.color-3(href='#')
                  .case-studies-summary
                    span Plate Serving
                    h2 Meat and Vegetable Plate
              li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/gallery2.jpg); ')
                a.color-4(href='#')
                  .case-studies-summary
                    span Spiced Meals
                    h2 Mexican Rice with Toppings
              li.one-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/gallery3.jpg); ')
                a.color-5(href='#')
                  .case-studies-summary
                    span Appetizer
                    h2 Vegetarian Burger
              li.two-third.animate-box(data-animate-effect='fadeIn', style='background-image: url(images/gallery4.jpg); ')
                a.color-6(href='#')
                  .case-studies-summary
                    span Love
                    h2 Spend time with your partner
    .fh5co-content-section
      .container
        .row.row-bottom-padded-md
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Our Head
            p
              | They have been culinary partners since college and began their journey towards their passion since 2004.
        .row
          .col-md-6
            .fh5co-team.text-center.animate-box
              figure
                img(src='images/person_1.jpg', alt='user')
              p
                | Mark Paulo Cube, PUP Culinary Academy
                br
                span.text-mute Head Chef
              blockquote
                p
                  | I've always dreamt of creating extraordinary food and let the world see and taste the art in it.
          .col-md-6
            .fh5co-team.text-center.animate-box
              figure
                img(src='images/person_2.jpg', alt='user')
              p
                | Martin John Lopez, PUP Culinary Academy
                br 
                span.text-mute Master Chef
              blockquote
                p
                  | My heart has always been into bringing food in an extremely high level - where no man has ever put them. 
    include services-info