.container
	.row.row-bottom-padded-md
		each serviceData, i in servicesData
		    .col-lg-4.col-md-4.col-sm-6
		    	.fh5co-blog.animate-box
		    		a(href="/services/#{servicesData[i].id}")
				        img.img-responsive(src="#{serviceData.image}", alt="")
				        .blog-text
				        	.prod-title
						        h3.service-name= serviceData.name
						        p= serviceData.description