extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    .fh5co-hero
      .fh5co-overlay
      .fh5co-cover.text-center(data-stellar-background-ratio='0.5', style='background-image: url(/images/error.jpg);')
        .desc
          .container
            .col-md-10.col-md-offset-1
              a#main-logo(href='/')
                img.img-responsive(src='', alt='')
              .animate-box
                h2 There is no such page
                p Here's a picture of Gordon Ramsay holding a sledgehammer instead.
                p
                  a.btn.btn-primary.btn-lg(href='/') Go Back

