block content
#fh5co-blog-section.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 Our Services
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
    .container
      .row.row-bottom-padded-md
        .col-lg-4.col-md-4.col-sm-6
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/hero-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Web Design for the Future
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn More...
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/hero-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Web Design for the Future
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn More...
        .col-lg-4.col-md-4.col-sm-6
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/hero-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Web Design for the Future
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn More...
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/hero-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Web Design for the Future
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn More...
        .clearfix.visible-sm-block
        .col-lg-4.col-md-4.col-sm-6
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/hero-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Web Design for the Future
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                
                p
                  a(href='#') Learn More...
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/hero-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Web Design for the Future
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                p
                  a(href='#') Learn More...
        .clearfix.visible-md-block