block content
#fh5co-blog-section.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 Our Services
          p
            | We always thrive to go far more the expection of our customers. All the time.
    .container
      .row.row-bottom-padded-md
        .col-lg-4.col-md-4.col-sm-6
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/service1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Served Plated to Each Guest
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 23
                    i.icon-bubble2
                p
                  | It is a common service offered by the hotel. Each plate is arranged accordingly by the chef and is given out to customers.
                p
                  a(href='#')
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/service4.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Table d Hote
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 29
                    i.icon-bubble2
                p
                  | It is a catering service that serves warmth and generosity. The chef will display the prepared food on the table, and the guests will fall in line to get the food that they want to eat.
                p
                  a(href='#')
        .col-lg-4.col-md-4.col-sm-6
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/service3.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Cocktail Party
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 52
                    i.icon-bubble2
                p
                  | It is a popular choice of many organizers as it offers food and drinks throughout the party.
                p
                  a(href='#')
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/service2.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Russian Service
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 35
                    i.icon-bubble2
                p
                  | This type gives a comfortable aura to the venue as the catering staff will give and present the food on the tray. The guests will be the one to get the food and drinks on the tray.
                p
                  a(href='#')
        .clearfix.visible-sm-block
        .col-lg-4.col-md-4.col-sm-6
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/service5.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Traditional Buffet
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 81
                    i.icon-bubble2
                p
                  | It is a bigger version of table d hote catering service as it provides several tables for each course.
                
                p
                  a(href='#')
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='images/service6.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') Open House
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 19
                    i.icon-bubble2
                p
                  | It is a popular choice of many organizers as it offers food and drinks throughout the party. Mostly preffered for events that last for a long period of time and caters many people.
                p
                  a(href='#')
        .clearfix.visible-md-block