extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    include template/hero
    include template/navbar
    #fh5co-blog-section.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Culinary Services
            p
            | We always thrive to go far more the expection of our customers. All the time.
    include template/services-info