footer
  #footer
    .container
      .row.row-bottom-padded-md
      .row
        .col-md-6.col-md-offset-3.text-center
          p.fh5co-social-icons
            a(href='#')
              i.icon-twitter2
            a(href='#')
              i.icon-facebook2
            a(href='#')
              i.icon-instagram
            a(href='#')
              i.icon-dribbble2
            a(href='#')
              i.icon-youtube
          p
            | Copyright 2016 Free Html5 
            a(href='#') Module
            | . All Rights Reserved. 
            br
            | Made with 
            i.icon-heart3
            |  by 
            a(href='http://freehtml5.co/', target='_blank') Freehtml5.co
            |  / Demo Images: 
            a(href='https://unsplash.com/', target='_blank') Unsplash
// END fh5co-page
