footer
  #footer
    .container
      .row.row-bottom-padded-md
      .row
        .col-md-6.col-md-offset-3.text-center
          p.fh5co-social-icons
            a(href='https://github.com/martinjohnlopez8' target='_blank')
              i.icon-github
            a(href='https://plus.google.com/u/0/115282701428948576154' target='_blank')
              i.icon-google-plus
          p
            | Copyright 2017 Empire
            | . All Rights Reserved. 

