.fh5co-hero
  .fh5co-overlay
  .fh5co-cover.text-center(data-stellar-background-ratio='0.5', style='background-image: url(#{headerData.heroImageURL});')
    .desc
      .container
        .col-md-10.col-md-offset-1
          a#main-logo(href='/')
            img.img-responsive(src='', alt='')
          .animate-box
            h2= headerData.headerTitle
            p= headerData.headerSubtitle
            p
              a.btn.btn-primary.btn-lg(href='/contact') Call us