.fh5co-hero
  .fh5co-overlay
  .fh5co-cover.text-center(data-stellar-background-ratio='0.5', style='background-image: url(images/cover_bg_1.jpg);')
    .desc
      .container
        .col-md-10.col-md-offset-1
          a#main-logo(href='index.html') Module
          .animate-box
            h2 The best view comes after the hardest climb.
            p
              | HandCrafted by 
              a.fh5co-site-name(href='http://frehtml5.co/', target='_blank') FreeHTML5.co
            p
              a.btn.btn-primary.btn-lg(href='#') Get Started