header#fh5co-header-section.sticky-banner
  .container
    .nav-header
      a.js-fh5co-nav-toggle.fh5co-nav-toggle.dark(href='#')
        i
      h1#fh5co-logo
        a(href='/') 
          img.img-responsive.img-rounded.about(src='images/logo2.png')  
      nav#fh5co-menu-wrap(role='navigation')
        ul#fh5co-primary-menu.sf-menu
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/services') Services
          li
            a(href='/contact') Contact