header#fh5co-header-section.sticky-banner
  .container
    .nav-header
      a.js-fh5co-nav-toggle.fh5co-nav-toggle.dark(href='#')
        i
      h1#fh5co-logo
        a(href='/') 
          img.img-responsive.img-rounded.about(src='/images/logo2.png')  
      nav#fh5co-menu-wrap(role='navigation')
        ul#fh5co-primary-menu.sf-menu
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a.fh5co-sub-ddown(href='/services') Services
            ul.fh5co-sub-menu
              li
                a(href='/services/1') Servicio de Platos
              li
                a(href='/services/2') Table d' Hote
              li
                a(href='/services/3') Russian Service
              li
                a(href='/services/4') Cocktail Party
              li
                a(href='/services/5') Traditional Buffet
              li
                a(href='/services/6') Open House
          li
            a(href='/contact') Contact